:root {
    --color-primary: #005AE2;
    --color-primary-2: #0065FE;
    --color-white: #FFFFFF;
    --gradient-background: #1E3448;
    scroll-behavior: smooth;
  }
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    width: 100%;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation__checkbox {
    display: none;
}

.navigation__icon {
    display: none;
}

#logo img {
    margin-top: 6px;
    height: 80%;
}

@media screen and (max-width:890px) {
    .nav .toggle {
        order: 5;
    }

    .navigation__icon {
        display: inline-block;
        width: 2rem;
        height: .15rem;
        background-color: black;
        position: relative;
        margin-top: 1rem;
        order: 4;
    }

    .navigation__icon::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: inherit;
        height: inherit;
        background-color: black;
        top: -8px;
        left: 0;
        transition: all .3s;
    }

    .navigation__icon::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: inherit;
        height: inherit;
        background-color: black;
        bottom: -8px;
        left: 0;
        transition: all .3s;
    }

    .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
        top: 0;
        background-color: black;
        transform: rotate(135deg);
    }

    .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
        top: 0;
        background-color: black;
        transform: rotate(-135deg);
    }

    .navigation__checkbox:checked+.navigation__button .navigation__icon {
        background-color: transparent;
    }

    .navigation__checkbox:checked~ul {
        display: block;
        position: absolute;
        top: 4rem;
        right:0;
        background-color: #fffefe;
        box-shadow: -12px 10px 18px rgba(0, 0, 0, 0.1); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
        width: 40%;
        overflow: hidden;
        z-index: 1;
    }

    .navigation__checkbox:checked~ul li {
        text-align: center;
        width: 100%;
        padding: 1rem 0;

    }

    .navigation__checkbox:checked~ul li:hover {
        background-color: var(--color-primary);
        color: #FFFFFF;

    }

    .navigation__checkbox:checked~ul li:hover a {
        color: #FFFFFF;
    }

    .navigation__checkbox:checked~ul li a {
        width: 100%;
    }

    body:has(.navigation__checkbox:checked) {
        overflow: hidden;
    }

    .nav ul {
        display: none;
    }

    #logo img {
        width: 70%;
    }
    .nav button {
        display: none;
    }
}


   